
.quiz-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .quiz-popup-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 450px;
    max-width: 90%;
    position: relative;
    height:40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .quiz-input-field{
    width:95%;
    background-color: white;
    border-radius: 10px;
    border: none;
    height:30px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0,0.15) ;
  }
  .quiz-type-container{
  display: flex;
  flex-direction: row;
margin-top: 0px;
margin-bottom: 10px;
gap: 20px;
align-items: center;
justify-content: center;
  }
  .quiz-type-text{
    font-size: 16px;
    color:gray;
    align-items: center;
  }
  .quiz-type-container button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
    color: gray;
    box-shadow: 0px 0px 20px rgb(0, 0, 0,0.15) ;
    cursor: pointer;
  }
  .quiz-type-container button.selected {
    background-color: #60B84B;
    color: white;
  }
  .quiz-buttons-container{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
  }
  .quiz-buttons-container button{
    padding: 10px 20px;
    border: none;
    width: 180px;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0,0.15) ;
    cursor: pointer;
    font-weight: bold;
  }
  .question-item {
    position: relative; /* Set relative positioning to position the X icon */
    display: flex;

  }

  
  .remove-question-icon {
    position: absolute;
    top: -13px; /* Adjust as needed */
    right: 15px; /* Adjust as needed */
    cursor: pointer;
    color: black;
    font-size: 10px; /* Adjust size as needed */
  }
  .quiz-continue-button{
    background-color: #60B84B;
    color:white
  }
  .quiz-cancel-button{
    background-color: white;
    color: black;
  }
  
  #qa-quiz-container{
    height: 450px;
padding: 30px 
  }
  .number-of-question-container
  {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
 
  }
  .add-question-icon{
    font-size: 25px;
    color: gray;
    align-items: center;
    cursor: pointer;
  }
  .questions-and-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .question-number{
    margin-right: 10px;
    flex: 1;
    width:40px;
    height: 40px;
    background-color: white;
    box-shadow: 0px 0px 20px rgb(0, 0, 0,0.15) ; 
    font-size: 20px;
    color: #000;
    border-radius: 100%;
    text-align: center;
    align-content: center;
  }
  .max-question-text {
    font-size: 14px;
    color: gray;
    text-align: end;
  }
  .radio-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color:gray
  }
  
  .radio-label input[type='radio'] {
    margin-right: 5px; 
    cursor: pointer;/* Space between radio button and label text */
  }
  
  .radio-label input[type='radio']:checked {
    accent-color: black; /* Change color for checked state */
  }
  input[type='radio'].radio-selected {
    accent-color: #60B84B; 
  }
 


  .question-options-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    margin-top:0px;
    margin-bottom: 20px;
    
  }
  .option-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  #option-field
  {
    width:150px;
    height:20px;
    margin-left: 10px;

  }
  .option-item i{
    font-size: 15px;
    color:red;
    cursor: pointer;
    margin-left: 10px;
  }
  .options-fields{
    display: flex;
    flex-direction: column;
  }
  .remove-option-button{
border:none;
background-color: transparent;
  }
  .add-option-button{
    width:173px;
    height:38px;
    background-color: white;
    color:gray;
    box-shadow: 0px 0px 20px rgb(0, 0, 0,0.15) ; 
    border-radius: 10px;
    border: none;
font-size:16px ;
margin-left: 30px;
  }
.timer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.timer-button{
  background-color: white;
  color:gray;
  box-shadow: 0px 0px 20px rgb(0, 0, 0,0.15) ;
  font-size: 14px;
  width: 60px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}
.timer-button.timer-selected{
  background-color: red;
  color:white
}
.quiz-image-text-input-field{
  width:120px;
  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
  border: none;
  height:20px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0,0.15) ;
  margin-left: 10px;

}
