.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center,
 
}
.form-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.form-field-label{
    font-size: 20px;
    color: #474444;
    font-weight: bold;
text-align: end;
    width:200px;
    margin-right: 20px;
}
.form-field-input{
    background-color: #F4F4F4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 388px;
    height: 30px;
    border: none;
    box-sizing: border-box; 
}
/* .form-button{
    color:#474444;
    font-size: 20px;
width:240px;
cursor: pointer;
padding-top: 7px;
padding-bottom: 7px;
border: none;
border-radius: 8px;
font-weight: bold;
background-color:#A9BCFF;

} */
@media screen and (max-width: 768px) {
/* 
    .form-button {
        padding: 8px;
        font-size: 16px;
        width:150px;
    } */
    .form-field-label{
        font-size: 16px;
        margin-right: 10px;
        width: 100px;

    }
    .form-field-input{
        width: 200px;
    }
    .form-field {
        margin-bottom: 20px;
    }

}
@media screen and (max-width: 480px) {
    /* .form-button {
        font-size: 14px;
        width:150px;
    } */
    .form-field {      
        margin-bottom: 20px;
        width:90%;
    }
    .form-field-input{
        width: 150px;
    }
    .form-field-label{
        font-size: 14px;
        margin-right: 10px;
        width: 120px;
    }
}