.left-navbar-container{
    height:100vh;
    background-color: white;
    width:150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
   margin-left: 10px;

}
.left-navbar-item{
    font-size:20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
   padding:10px;
   padding-left: 20px;
   margin-bottom:40px;
   
   
}
.logout-text{
    font-size:20px;
    color:#474444;
    font-weight: bold;
    text-align: center;
}
.left-navbar-horizontal-line{
    width:80%;
    text-align: center;
}
.left-navbar-item.active {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
  }